apiVersion: apps/v1
kind: Deployment
metadata:
  name: repo-app
spec:
  template:
    spec:
      containers:
        - name: app
          env:
            - name: ENV
              value: "PROD"
            - name: APP_VERSION
              value: "022defc"